#collection-6689580f3d3598651c226806 {

    .site-header{
        .site-title-link{
            background:  url("../assets/images/Logo_dark.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 139px;
            height: 84px;
            position: absolute;
    
            img{
                display: none;
            }
        }
    }
    .content-container{
        margin-top: -75px;
    }
}

#description-about {
    /*background-color: #EEDADA;*/
    background-image:  url("../assets/images/Description_about.png");
    background-position: center top;
    background-size: cover;
    padding: 10vh;
    margin-top: -100px;
    z-index: 2;
    position: relative;

    #page-66895a6786799b2e433ec298{
       /* width: 1140px !important;*/
        margin: 0 auto;
        padding: 4em 0;

        figure{
            border-radius: 20px;
            transform: rotate(-10deg);
            overflow: hidden;
            margin-right: 20px;
            margin-bottom: 20px;
        }

        .sqs-block-content{
            
            p{
                font-size: 24px;
                line-height: 1.4em;
                color: #272A69;
                font-family: 'ethic-regular';
                text-align: left;
            }
        }

        #block-f2a934cbac663d92e977{
            padding-top: 80px;
        }

        #block-yui_3_17_2_1_1720277781649_30480{
            display: none;
        }
    }
}