#collection-668c2d461f391719c12806a4{

    .content-container{
        background-color:  #272A69;

        .sqs-row{
            padding:10em 0 5em;
            margin: 0;
            
            .sqs-col-12{

                h2{
                    color:#fff;
                    font-size: 44px;
                    line-height: 62px;
                    font-family: "Balgin-Extlight";
                    text-transform: uppercase;
                    font-weight: 100;
                    //position: relative;
                    //padding-left: 15%;

                    /* &::before{
                        background-image: url(../assets/images/logo_white.png);
                        background-repeat: no-repeat;
                        position: absolute;
                        width: 95px;
                        height: 50px;
                        top: 5px;
                        left: 0;
                        content: "";
                    } */
                }
                

                .summary-block-wrapper{
                    padding:3em 2em 2em;
                    border-radius: 30px;
                    width: 1140px;
                    margin: 0 auto;
                    
                    .summary-item-list, .summary-item{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                  
                        .summary-item{
                          width: auto !important;
                          margin-bottom: 10% !important;
                          margin-right: 5% !important;
                  
                          .summary-thumbnail-outer-container{
                            border-radius: 50% !important;
                            border: 15px solid #FC9294;
                            width: 180px;
                            height: 180px;
                            overflow: hidden;
                            transition: all 0.5s linear;
                  
                            &:hover{
                              border: 15px solid #fff;
                            }
                  
                            img{
                              object-fit: cover;
                              transform: scale(1.2);
                              width: 100% !important;
                              height: 100% !important;
                              left: 0 !important;
                              top: 0 !important;
                            }
                          }
                  
                          .summary-content{
                            width: 300px;
                  
                            .summary-metadata-item{
                              a{
                                color:#FC9294;
                                font-size: 22px;
                                font-family: "Balgin-light";
                                font-style: italic;
                                text-align: left;
                                font-weight: 100;
                                margin: 0;
                                line-height: 2;
                                text-transform: lowercase;
                              }
                            }
                  
                            .summary-title{
                                text-align: left !important;
                                line-height: 2.3em;
                  
                              a.summary-title-link{
                                color:#FC9294;
                                font-size: 50px;
                                font-family: "ethic-boldItalic";
                                font-style:italic;
                                text-align: left;
                                margin: 0;
                                text-decoration: none;
                                font-weight: 500;
                                transition: all 0.3s linear;
                  
                                &:hover{
                                  color: #fff;
                                }
                              }
                            }
                  
                            .summary-excerpt{
                  
                              p{
                                color:#fff;
                                text-align: left;
                                font-size: 22px;
                                line-height: 1.4em;
                                letter-spacing: 1.5px;
                                font-family: "ethic-light";
                              }
                            }
                            .summary-read-more-link{
                                text-align: left;
                                color:#FC9294;
                                font-size: 22px;
                                font-weight: 100;
                                text-decoration: none;
                                padding-top: 10px;
                            }
                          }
                        }
                      }
                }   
            }
        }
    }
}

/* Blog all pages */
.collection-type-blog.view-list {
    .main-wrapper{
        background-color:  #272A69;

        .article-container{
            background-color:  #272A69;
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1140px;
            margin: 0 auto;
            gap: 5em;
            text-align: left;
            padding-bottom: 5em;
            position: relative;
            padding-top: 7em;

            .filtered-by{
                color: #fff;
                font-size: 36px;
                font-family: "Balgin-Extlight";
                text-transform: uppercase;
                font-weight: 100;
                position: absolute;
                width: 1140px;
                text-align: center;
            }

            .blog-list-item{

                a.main-image{
                    border-radius: 50% !important;
                    border: 15px solid #FC9294;
                    display: block;
                    width: 180px;
                    height: 180px;
                    overflow: hidden;
                    transition: all 0.5s linear;

                &:hover{
                    border: 15px solid #fff;
                }

                img{
                    object-fit: cover;
                    transform: scale(1.2);
                    width: 100% !important;
                    height: 100% !important;
                    left: 0 !important;
                    top: 0 !important;
                }
               }
               h1{
                    a{
                        color: #fc9294;
                        font-size: 52px;
                        font-family: "ethic-boldItalic";
                        font-style: italic;
                        text-align: left;
                        margin: 0;
                        text-decoration: none;
                        font-weight: 500;
                        line-height: 62px;

                        &:hover{
                            color: #fff;
                        }
                    }
               }
               p{
                color: #fff;
                text-align: left;
                font-size: 22px;
                line-height: 1.4em;
                letter-spacing: 1.5px;
                font-family: "ethic-light";
               }
               a.link{
                text-align: left;
                color: #fc9294;
                font-size: 22px;
                font-weight: 100;
                text-decoration: none;
                padding-top: 10px;

                &:hover{
                    color: #fff;
                }
               }
            }
        }
    }
}

/* Blog Single Page */
.view-item{

    .main-wrapper{
        background-color:  #272A69;

        .post-type-text{
            padding:5em 2em;
            margin: 0 auto;
            width: 1140px;
            background: #fff;

            .meta{
                font-size: 14px;
                margin: 0;

                a{
                    color:#272A69;
                    font-size: 14px; 
                }
            }

            .sqs-grid-12 {
                text-align: left;
            }

            h1{
                color:#272A69;
                font-size: 36px;
                font-family: "Balgin-Extlight";
                text-transform: uppercase;
                font-weight: 100;
                margin: 0;
            }

            p{
                color: #272A69;
                font-family: "ethic-light" !important;
                text-decoration: none;
                font-size: 24px;  
            }

            .sqs-simple-like{
                padding-top: 3em;
            }
        }

        .blog-item-pagination{
            padding: 2em;
            display: flex;
            justify-content: space-evenly;

            a{
                color: #fff;
                display: inline-block;
                font-family: "Balgin-Extlight";
                text-transform: uppercase;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }

                &::before, &::after{
                    background-image:  url("../assets/images/arrow_close.png");
                    content: "";
                    width: 18px;
                    height: 18px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    padding-right: 15px;
                    transform: rotate(180deg);
                    display: inline-block;
                    background-position: center;
                    top: 3px;
                    position: relative;
                }
                &::after{
                    visibility: hidden;
                }

            }
            a:last-child{
                &::before{
                    visibility: hidden;
                }
                &::after{
                    transform: rotate(0deg);
                    visibility: visible;
                }
            }
        }
    }
}