#collection-668c1c8585de33088cd47ba8, #collection-668c2f3376dff83003723843{

    .site-header{

        .site-title-link{
            background:  url("../assets/images/Logo_dark.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 139px;
            height: 84px;
            position: absolute;

            img{
                display: none;
            }
        }

        .site-navigation{

            .menu-btn{
                top:50px;

                .menu-btn__burger{
                    background: #272A69;
    
                    &::before, &::after{
                        background: #272A69;
                    }
                }
            }

            .open {
                .menu-btn__burger{
                    background: #fff;
    
                    &::before, &::after{
                        background: #fff;
                    }
                }
            }
        }
    }

    .content-container{
        overflow: hidden;
        margin-top: -75px;
        background:  url("../assets/images/donate_bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-position: center 30%;

        #page-668c1c8585de33088cd47ba8{

            .sqs-row{
                border-radius: 30px 30px 0 0 ;
                padding:10em;
                padding-left: 5em;
                padding-bottom:15vh;
                height: 80vh;
                position: relative;


                .sqs-col-12{
                    width: 34%;
                    //position: absolute;
                    position: relative;
                    left: 0%;
                    top: 10%;
                    border-radius: 20px;
                    background-color: rgba(235, 220,219, .7);
                    text-align: left;
                    padding: 2em;
    
                    h2{
                        color:#272A69;
                        font-size: 36px;
                        line-height: 62px;
                        font-family: "Balgin-Extlight";
                        text-transform: uppercase;
                        font-weight: 100;
                    }
                    .sqs-donate-button-wrapper{
                        margin: 0;
                    }
    
                    #block-668c1c8585de33088cd47ba9, #block-yui_3_17_2_1_1720485478659_2580{
                        display: none;
                    }
                }
            }
        }    
    }
}
