
/* Footer */
#footerBlocks{
    background:  url("../assets/images/bg_whySection.png");
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding:5vh;
    width: auto !important;
    border-radius:0 0 40px 40px;
  
    .sqs-block-image-figure{
      margin: 0;
    }
  
    .sqs-col-6{
      text-align: left;
  
      p{
        font-size: 22px;
        color:#fff;
        font-family: 'ethic-regular';
  
        a{
          color:#FC9294;
          font-family: 'ethic-regular';
          text-decoration: none;
          font-size: 22px;
          padding: 0 10px;
        }
      }
  
      #block-yui_3_17_2_1_1719572437820_178461 {
  
        p{
          color:#FC9294;
        }
      }
    }
  }
  