#banner-impact{
    
    .image-card-wrapper {
        position: absolute;
        left: 0;
        width: 70%;
        bottom: 25%;
        top: unset;
    }
}

#description-section-impact{
    background-image:  url("../assets/images/bg_description-Section.png");
    background-position: center top;
    background-size: cover;
    padding: 0;
    margin-top: -100px;
    z-index: 2;
    position: relative;
    
    .sqs-html-content{
        padding: 10em 0;

        h2{
            color: #fff;
        }

        p{
            color:#fff;
            text-transform: none;
            max-width: 800px;
            margin: 0 auto;
        }
    }
}

/* accordian Impact */

#accordion-impact{
    

    #block-yui_3_17_2_1_1720282922768_2963{

        ul {
            li.accordion-item{

                .accordion-divider{
                    color: #fff !important;
                }
        
                button.accordion-item__click-target{
                    /*background-color: #D1695A;*/
                    width: 98%;

                    .accordion-item__title::before{
                        content:"";
                        background-image:  url("../assets/images/icon_self_reliance.png");
                        position: absolute;
                        width: 45px;
                        height: 45px;
                        background-size: cover;
                        left: 1em;
                        top: 0.6em;
                    }
        
                    .accordion-item__title{
                        text-transform: uppercase;
                        font-family: "Balgin-Extlight";
                        font-weight: 100;
                        font-size: 44px;
                        color:#fff;
                        letter-spacing: 2;
                        padding-left: 2.5em;
                    }

                    /* Open close Icon */
                    .accordion-icon-container{

                        .plus{
                            /*background-image:  url("../assets/images/arrow_close.png");*/
                            width: 20px;
                            height: 20px;
                            background-size: contain;
                            background-repeat: no-repeat;

                            &> div{
                                /*display: none;*/
                                color: #fff;
                                height: 2px !important;
                            }
                            .plus__horizontal-line{
                                transform: rotate(145deg);
                                left: -14px;
                            }
                            .plus__vertical-line{
                                transform: rotate(-145deg);
                                left: -15px;
                                top: -3px;
                            }
                        }   
                    }
                }

                /* Accordian when opem */
                button.accordion-item__click-target[aria-expanded="true"]{

                    .accordion-icon-container{

                        .plus{
                            /*background-image:  url("../assets/images/arrow_open.png");*/
                            width: 20px;
                            height: 20px;
                            background-size: contain;
                            background-repeat: no-repeat;
    
                            &> div{
                                // display: none;
                                color: #fff;
                                height: 2px !important;
                            }
                            .plus__horizontal-line{
                                transform: rotate(-45deg);
                                left: -14px;
                            }
                            .plus__vertical-line{
                                transform: rotate(45deg);
                                left: -27px;
                                top: 9px;
                            }
                        }
                    }
                }

                .accordion-item__description{
                    padding-left: 4em !important;

                    p{
                        color:#fff;
                        text-transform: none;
                        text-align: left;

                        a{
                            color: #fff !important;
                            text-transform: uppercase !important;
                            border-radius: 0 !important;
                            font-size: 22px !important;
                            font-family: "Balgin-Extlight" !important;
                            font-weight: 100 !important;
                            padding: .34em 3.3em !important;
                            position: relative;
                            width: 150px;
                            text-decoration: none;
                            display: block;
                            text-align: center;
                            margin-top: 3em;
                            margin-bottom: 1em;

                            &::before{
                                content: "";
                                border: 2px dashed #272A69 !important;
                                padding: 1.7em 6.85em;
                                position: absolute;
                                top: -5px;
                                left: -5px;
                            }
                        }
                    }
                }
            }
            li.accordion-item:nth-child(1){
                background-color: #D1695A;

                .accordion-item__description{

                    a{
                        background-color: #FC9294 !important;

                        &::before{
                            border: 2px dashed #FC9294 !important;
                        }
                    }

                }
            }
            li.accordion-item:nth-child(2){
                background-color: #2354A1;

                .accordion-item__title{

                    &::before{
                        background-image:  url("../assets/images/icon_environment.png") !important;
                    }
                }

                .accordion-item__description{

                    a{
                        background-color: #F8C04C !important;

                        &::before{
                            border: 2px dashed #F8C04C !important;
                        }
                    }

                }
            }
            li.accordion-item:nth-child(3){
                background-color: #ED9896;

                .accordion-item__title{

                    &::before{
                        background-image:  url("../assets/images/icon_education.png") !important;
                    }
                }

                .accordion-item__description{

                    a{
                        background-color: #2354A1 !important;

                        &::before{
                            border: 2px dashed #2354A1 !important;
                        }
                    }

                }
            }
            li.accordion-item:nth-child(4){
                background-color: #D79A1B;

                .accordion-item__title{

                    &::before{
                        background-image:  url("../assets/images/icon_economic_opportinuty.png") !important;
                    }
                }
                
                .accordion-item__description{

                    a{
                        background-color: #232A6A !important;

                        &::before{
                            border: 2px dashed #232A6A !important;
                        }
                    }

                }
            }
            li.accordion-item:nth-child(5){
                background-color:#272B65;

                .accordion-item__title{

                    &::before{
                        background-image:  url("../assets/images/icon_capacity_building.png") !important;
                    }
                }

                .accordion-item__description{

                    a{
                        background-color: #FC9294 !important;

                        &::before{
                            border: 2px dashed #FC9294 !important;
                        }
                    }

                }
            }
        }
        
    }
}

/* Our Partners */

#partners{
    background-image:url("../assets/images/impact_partner_bg.png");
    background-size: cover;
    background-position: center center;
    
    #page-66897081830be074a15ea49e{
        width: 1140px !important;
        margin: 0 auto;
        padding: 4em 0;
        text-align: left;

        h2{
            color: #272A69;
        }

        p{
            color: #272A69;
            text-transform: none;
            text-align: left; 
        }

        #block-yui_3_17_2_1_1720335199198_18192{
            padding: 0;
            height: 1px;
        }

        #block-yui_3_17_2_1_1720335199198_28899{

            p{
                font-style: italic;
            }
        }
    }
}

/* the Impact */

#the-impact{
    background-image:url("../assets/images/bg_the_impact.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:2em 0 4em 0;

    .intrinsic{
        max-width: 140px !important;
    }

    h2{
        color:#FEEFEC;
    }

    h3{
        color:#FEEFEC;
        margin: 0;
        font-family: "Balgin-light";
        font-size: 63px;
        line-height: 72px;
        font-weight: 900 !important;
    }

    p{
        color:#FEEFEC;
        text-transform: none;
        margin: 0;
    }

    #page-668970fdbdde483305ac963b{
        width: 1140px !important;
        margin: 0 auto;
        padding: 4em 0;
    }
}

/* Testimonials */

#testimonials{
    background-image:  url("../assets/images/Description_about.png");
    background-position: center top;
    background-size: cover;
    padding: 0;
    margin-top: -100px;
    z-index: 2;
    position: relative;

    #page-66897770e0721d46e8a265a0{
        width: 1140px !important;
        margin: 0 auto;
        padding:0;

        .summary-item{
            border-bottom: 1px solid #FC9294;
            padding-bottom: 20px !important;
            padding-top: 20px !important;


            .summary-thumbnail-outer-container{
                width: 22% !important;
                margin-left: 50px;

                .summary-thumbnail{
                    padding: 0 !important;
    
                    img{
                        position: unset !important;
                        width: 180px !important;
                        height: 180px !important;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 15px solid #FC9294;
                    }
                }
            }

            .summary-content {

                p{
                    color: #272A69;
                    padding-bottom: 0;
                }
                h3{
                    text-transform: uppercase;
                    font-family: "Balgin-Extlight";
                    font-size: 32px;
                    line-height: 54px;
                    color: #272A69;
                    padding-top: 10px;
                }
            }
        }
        
        .summary-item:last-child{
            border-bottom: none;
        }
    }
}

