#banner-involved{

    .image-card-wrapper{
        left: -5%;
        width: 60%;
        bottom: 15%;
        top: unset;

        p{
            font-size: 48px; 

            strong{
                color: #FC9294;
            }
        }
    }
}

/* Description and sponsors section */
#description-involved, #sponsors-section{
    background-image:  url("../assets/images/bg_description-involved.png");
    background-position: center top;
    background-size: cover;
    padding: 10vh;
    padding-bottom: 0;
    margin-top: -100px;
    z-index: 2;
    position: relative;

    .Index-page-content{
        padding: 0;
        // width: 1140px;
        margin: 0 auto;
    }


    #page-6689f52a48f30c07d21d13a6, #page-6689f5d9c0ed12691b5750fd{
        padding: 8em 0 0em;

        .sqs-html-content{

            h2{
                color: #272A69;
            }
    
            p{
                color: #272A69;
                text-transform: none;
            }
        }

        #block-yui_3_17_2_1_1720367285934_4247{
            padding-top: 5em;

            h2{
                text-align: left;
                color: #272A69;
                font-size: 36px;
            }
        }
    }
}

/* description section */
#description-involved{
    .sqs-row{
        .sqs-col-4{
           a.sqs-button-element--primary{
            color: #FC9294 !important;
            
                &::before{
                    padding: 2.2em 6.85em;
                }
            }
            .lightbox-handle{
                width: 297px !important;
                color: #FC9294 !important;

                &::before{
                    padding: 2.2em 6.85em;
                }
            }
        }
    }
}

/* Pop-up form */
.sqs-modal-lightbox-content{

    .lightbox-background{
        opacity: 0.8;
    }

    .lightbox-content{

        .form-wrapper{

            .form-title{
                font-size: 28px !important;
                text-transform: uppercase;
            }

            .field, .phone{
                padding-bottom: 10px;
                text-align: left;

                .caption-text, .title{
                    padding-bottom: 10px;
                }
            }

            .form-submit-button{
                &::before{
                    padding: 1.7em 4.45em;
                }
            }
        }
    }
}

/* Become Sponsors Section */
#sponsors-involved{
    background-color: #FEEFEC;
    padding: 2em 5em 0;

    .Index-page-content{
        #block-6692846ede2104488dde5da9{
            width: 1140px;
            margin: 0 auto;
        }
    }

    h2{
        color: #272A69;
        font-family: "Balgin-Light" !important;
    }

    p{
        color: #272A69;
        text-transform: none;
    }

    #block-yui_3_17_2_1_1720878261935_140381{
        padding-top: 7em;

        h2{
            text-align: left;
        }
    }
}


/* accordian Involved */

#accordion-involved{
    

    #block-yui_3_17_2_1_1720317558134_44043{

        ul {
            li.accordion-item{
                background-color: #272A69;
                position: relative;

                .accordion-divider{
                    color: #fff !important;
                }
        
                button.accordion-item__click-target{
                    /*background-color: #D1695A;*/
                    width: 98%;

                    /*.accordion-item__title::after{
                        content:"$75,000 sponsorship";
                        font-size: 20px;
                        font-style: italic;
                        padding-left: 20px;
                        font-family: "Balgin-Extlight";
                    }*/
        
                    .accordion-item__title{
                        text-transform: uppercase;
                        font-family: "Balgin-Extlight";
                        font-size: 28px;
                        color:#fff;
                        letter-spacing: 2;
                        padding-left: 2.5em;
                        font-weight: 100;

                        span{
                            font-size: 20px;
                            font-style: italic;
                            padding-left: 20px;
                            font-family: "Balgin-Extlight";
                        }
                    }

                     /* Open close Icon */
                     .accordion-icon-container{

                        .plus{
                            // background-image:  url("../assets/images/arrow_close.png");
                            width: 20px;
                            height: 20px;
                            background-size: contain;
                            background-repeat: no-repeat;

                            &> div{
                                // display: none;
                                color: #fff;
                                height: 2px !important;
                            }
                            .plus__horizontal-line{
                                transform: rotate(145deg);
                                left: -14px;
                            }
                            .plus__vertical-line{
                                transform: rotate(-145deg);
                                left: -15px;
                                top: -3px;
                            }
                        }   
                    }
                }

                /* Accordian when opem */
                button.accordion-item__click-target[aria-expanded="true"]{

                    .accordion-icon-container{

                        .plus{
                            // background-image:  url("../assets/images/arrow_open.png");
                            width: 20px;
                            height: 20px;
                            background-size: contain;
                            background-repeat: no-repeat;
    
                            &> div{
                                // display: none;
                                color: #fff;
                                height: 2px !important;
                            }

                            .plus__horizontal-line{
                                transform: rotate(-45deg);
                                left: -14px;
                            }
                            .plus__vertical-line{
                                transform: rotate(45deg);
                                left: -27px;
                                top: 9px;
                            }
                        }
                    }
                }

                .accordion-item__description{
                    padding-left: 4em !important;
                    width: 100%;
                    min-width: 100%;
                    max-width: unset;

                    p{
                        color: #FC9294;
                        font-size: 24px !important;
                        line-height: 32px;
                        font-family: "Balgin-Extlight";
                        font-weight: 200;
                        text-transform: none;
                        text-align: left;
                        padding: 0;
                    }

                    ul{
                        width: 40%;
                        float: left;
                        display: block;

                        li{
                            list-style: none !important;
                            position: relative;

                            p{
                                color: #fff;
                                padding: 0;
                                font-family: "ethic-medium";
                            }

                            &::before{
                                content:"";
                                background-image:  url("../assets/images/Vector_tick.png");
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                background-size: cover;
                                left: -40px;
                            }
                        }
                    }
                    ul:last-child{
                        float: right;

                        li{

                            &::before{
                                content:"";
                                background-image:  url("../assets/images/Vector_tick.png");
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                background-size: cover;
                                left: -40px;
                            }
                        }
                    }
                }
            }
            
            /*li.accordion-item:nth-child(1){
                
                .accordion-item__title{

                    &::after{
                        content: "$75,000 sponsorship";
                    }
                }
            }
            li.accordion-item:nth-child(2){
               

                .accordion-item__title{

                    &::after{
                        content: "$50,000 sponsorship" !important;
                    }
                }

                button.accordion-item__click-target{

                }
            }
            li.accordion-item:nth-child(3){
                

                .accordion-item__title{

                    &::after{
                        content: "$30,000 sponsorship" !important;
                    }
                }

                button.accordion-item__click-target{
                    
                }
            }
            li.accordion-item:nth-child(4){
               

                .accordion-item__title{

                    &::after{
                        content: "$10,000 sponsorship" !important;
                    }
                }
                
                button.accordion-item__click-target{
                    
                }
            } */
        }
        
    }
}

/* Sponsors section rmaining style */

#sponsors-section{
    background-image:  url("../assets/images/Thank-You-Section_bg.png");
    background-position: center bottom;
    background-size: cover;
    margin: 0;

    #page-6689f5d9c0ed12691b5750fd{
        padding: 5em 0 12em;
        padding-top: 0;

        h2, p{
            color: #fff !important;
            padding-bottom: 2em;
        }
        h2{
            padding-bottom: 0.5em;
        }
    }
}

/* Additional section */
#additional-section{
    background-image:  url("../assets/images/Description_about.png");
    background-position: center top;
    background-size: cover;
    padding:2em 0 0;
    margin-top: -100px;
    z-index: 2;
    position: relative;

    #page-6689f653e0721d46e8c04929{
       /* width: 1140px !important;*/
        margin: 0 auto;
        padding: 4em 0;
        overflow: hidden;
        padding-bottom: 0;
        background: linear-gradient(to bottom, rgba(254,239,236,0) 0%,rgba(254,239,236,0) 50%,rgba(252,146,148,1) 50%,rgba(252,146,148,1) 100%);

        .intrinsic{
            max-width: 324px !important;
        }


        .sqs-row{
            width: 1240px !important;
            margin: 0 auto;

            .sqs-col-12{
                .sqs-row{
                    padding: 5em 0;
                }
                .sqs-row:last-child{
                    // background-color: #FC9294;
                }
            }
        }

        .sqs-block-content{
            text-align: left;

            hr{
                background-color: #FC9294;
                
            }

            p{
                color: #272A69;
                padding-bottom: 0;
                font-size: 32px;
                line-height: 50px;
                margin: 0;
            }
            h2{
                color: #272A69;
                font-size: 44px;
                line-height: 66px;
                margin: 0;  
            }

            .sqs-block-button-container{
                margin: 0;
            }
        }
    }
}