/****
  Large screen 1200+
****/

@media screen and (min-width: 1280px) {

  #page-66895a6786799b2e433ec298{
    width: 1140px !important;
    margin: 0 auto;
    padding: 4em 0;
  }
}

/*****
    - Tablet And Mobile -
******/

@media (min-width: 431px) and (max-width: 1024px) {
  #splash .logo {
    width: 280px;
    height: 220px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin: -240px 0 0 -140px;
  }
  #splash .buttons {
    margin: 40px 0 0 -140px;
    padding: 0;
  }

  .main-wrapper{
    overflow-x: hidden;
  }

  .view-item .main-wrapper{
    .article-container article .sqs-layout{
      .sqs-row{
        margin-left: 0;
        margin-right: 0;
  
        .html-block {
          .sqs-block-content{
            padding: 0 1em;
          }
        }
      }
    }
  }

  #banner-home, #banner-women, #banner-about, #banner-impact, #banner-involved{ /* All banner fix */
        
    .Index-page-content{
      padding: 0;

      .intrinsic{

        .sqs-image-shape-container-element{
          height: 340px !important;

          img{
            /*height: 400px !important;*/
          }
        }
      } 

      .image-card-wrapper{
        left: 0;
        width: 90%;
        bottom: 20%;
        top: unset;
  
        .image-card{
          position: relative;

          .image-title-wrapper, .image-subtitle-wrapper{
            padding-top: 0;

            p{
              font-size: 32px !important;
            }
          }

          .image-title-wrapper{
            &:before{
              bottom: unset;
              top: -2em;
              left: 2.2em;
              width: 350px;
              height: 180px;
            }
          }
        }
      }
    }
  }

  .view-item .main-wrapper .article-container article .sqs-layout .html-block{
    width: 100%;
    padding: 0;
  } 
  .view-item .main-wrapper .article-container article .sqs-layout .tagcloud-block {
    width: 100%;
    padding: 0;
    .sqs-tagcloud{
      padding: 1em;
    }
  }

  .main-wrapper .content-container .Index-page-content,
  #story-section #page-667e5ab8acd3ee331dc39e9c{
    width: auto !important;
    padding-left: 0;
    padding-right: 0;
    max-width: 100% !important;
    padding-bottom: 0;
  }

  .sqs-layout > .sqs-row{
    margin: 0;
  }
  
  /* Home page */
  .sqs-block-image{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #our-work{
    padding: 0 1em;
    .Index-page-content {
      .sqs-col-12{
        flex-direction: column-reverse;
        .sqs-block{
          width: 100%;

          .sqs-html-content{
            p{
              max-width: 100%;
            }
            p:has(a){
              max-width: fit-content !important;
            }
          }
        }
      }
    }
  }

  #story-section #block-yui_3_17_2_1_1720860326575_8937 .summary-item-list, #story-section #block-yui_3_17_2_1_1720860326575_8937 .summary-item {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  #story-section #block-yui_3_17_2_1_1720860326575_8937 .summary-item-list .summary-item{
    grid-template-columns: 1fr;
    margin: 0 auto;
    margin-right: 0 !important;
    margin-bottom: 1em !important;
  }
  #story-section #block-yui_3_17_2_1_1720860326575_8937 .summary-item-list .summary-item .summary-content{
    //width: 350px;
    width: 100%;
  }
  #block-yui_3_17_2_1_1719559322476_181604{
    margin-left: 5em;
  }

  #involved-section{
    min-height: unset;
    padding: 0;
    background-size: cover;
    
    #block-667e5ad0315ec9044d941000{ display: none; }

    #page-667e5ad0315ec9044d940ffa{
      padding-top:6em;
      .sqs-col-12{
        .sqs-row{
          flex-direction: column;

          .sqs-col-4{
            margin-bottom: 1em;
          }
          .sqs-block-button{
            padding-left: 0;
            padding-right: 0;

            .sqs-block-button-container{
              margin: 0;
            }
          }
        }
      } 
    }
  }

  /* Why women page */
  #collection-668133e5a20be947b7143a85 #description-section{
    padding: 5vh 1em;
  }
  #description-section .Index-page-content p{
    max-width: 100%;
  }
  #collection-668133e5a20be947b7143a85 #work-why{
    padding-left: 1em;
    padding-right: 1em;

    #page-66813991d3276b1e70d1a98d{
      .sqs-row{
        #block-yui_3_17_2_1_1719745465255_247112{
          width: 100%;
          padding: 0;
        }
      } 
    }  
  }
  /* about us page */
  #collection-6689580f3d3598651c226806 #description-about #page-66895a6786799b2e433ec298{
    width: 100% !important;
  }
  #collection-6689580f3d3598651c226806 #team-about .Index-page-content .summary-item-list .summary-item, 
  #collection-6689580f3d3598651c226806 #directors-about .Index-page-content .summary-item-list .summary-item {
    display: flex;
    flex-direction: column;
  }

  /*Impact page */
  #accordion-impact{
    #block-yui_3_17_2_1_1720282922768_2963{
      padding-left: 0;
      padding-right: 0;
    }
  }
  #the-impact{
    padding: 0 1em;
  }
  #the-impact h3{
    font-size: 50px;
  }
  #the-impact p{
    font-size: 32px;
    line-height: 36px;
  }
  #testimonials #page-66897770e0721d46e8a265a0 .summary-item .summary-thumbnail-outer-container {
    width: 26% !important;
  }

  /* get involved page */
  #sponsors-involved .Index-page-content #block-6692846ede2104488dde5da9{
    width: 100%;
    padding: 0;
  }
  #additional-section #page-6689f653e0721d46e8c04929 .sqs-row{
    width: 100% !important;
  }
  #page-6689f52a48f30c07d21d13a6{
    .sqs-row{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      .sqs-col-4{
        width: 100%;
      }
    }
  }
  #block-yui_3_17_2_1_1720317558134_44043{
    padding-left: 0;
    padding-right: 0;
  }

  #block-yui_3_17_2_1_1719572437820_39729{
    padding-left:2em !important;
    padding-right: 2em !important;
  }

  /*Blog page */
  #collection-668c2d461f391719c12806a4 .content-container .sqs-row .sqs-col-12 .summary-block-wrapper .summary-item-list .summary-item .summary-content, 
  #collection-668c2d461f391719c12806a4 .content-container .sqs-row .sqs-col-12 .summary-block-wrapper .summary-item .summary-item .summary-content {
    width: 100%;
  }
  #collection-668c2d461f391719c12806a4 .content-container .sqs-row .sqs-col-12 .summary-block-wrapper .summary-item-list, 
  #collection-668c2d461f391719c12806a4 .content-container .sqs-row .sqs-col-12 .summary-block-wrapper .summary-item{
    grid-template-columns: 1fr;
  }
  #collection-668c2d461f391719c12806a4 .content-container .sqs-row .sqs-col-12 .summary-block-wrapper{
    width: 100%;
  }

  /* Blog article */
  .view-item .main-wrapper{
    .article-container {
      article{
        .sqs-layout{
          .sqs-block-content{
            .image-block-outer-wrapper{
              height: 100%;
              figure.sqs-block-image-figure{
                width: 92%;
  
                img{
                  height: 100% !important;
                }
              }
            } 
          }
        }
      }
    }
  }
  .view-item .main-wrapper .article-container article .sqs-layout .sqs-block-content .image-block-outer-wrapper figure.sqs-block-image-figure .image-block-wrapper {
    height: 100%;
  }
  .view-item .main-wrapper .article-container article .sqs-layout .sqs-block-content .image-block-outer-wrapper figure.sqs-block-image-figure .image-block-wrapper img{
    height: 100%;
  }

  .collection-type-blog.view-list .main-wrapper .article-container{
    padding-left: 2em;
    padding-right: 1em;
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .collection-type-blog.view-list .main-wrapper .article-container .filtered-by{
    width: 100%;
  }

  /* footer */
  .site-footer .site-container #footerBlocks .sqs-block-newsletter .newsletter-form-wrapper .newsletter-form-body{
    text-align: center;
  }
}

/* ------------------------------------
-------------- Mobile -----------------
-------------------------------------*/

@media screen and (max-width: 430px) {

  /* Splash Screen */
  #splash{
    main.content{
      height: 100vh;
      h2.announcement{
        left: 49vw;

        &::after{
          right: -18.5vw;
          width: 18vw;
        }
      }
    }
  }

  /* Main Section */
  .main-wrapper{
    //border:20px solid #ddd;
    //border-radius: 60px;
    position: relative;
    overflow: hidden;

    .site-header{
      .site-title-link{
          background:  url("../assets/images/Logo_dark.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 105px !important;
          height: 62px !important;
          position: absolute;
  
          img{
              display: none;
          }
      }
      .site-navigation{
        justify-content: start;
        padding-top: 20px;

        .menu-btn{
          //top: 15px;
          right: 0;
        }
      }
    }

  .menu-btn__burger{
      background: #272A69;

      &::before, &::after{
          background: #272A69;
      }
  }
  .open{
      .menu-btn__burger{
          background: #fff;
  
          &::before, &::after{
              background: #fff;
          }
      }
  }

    .content-container{
      //margin-top: -75px;
      //border-radius: 40px 40px 0 0;

      h2{
        font-size: 28px !important;
        line-height: 32px !important;
      }
      h3{
        font-size: 24px !important;
        line-height: 28px !important; 
      }
      p{
        font-size: 22px !important;
        line-height: 26px !important;
      }
      /* buttons */
      .sqs-block-button-container a.sqs-button-element--primary, 
      .sqs-donate-button-wrapper a.sqs-button-element--primary, 
      .form-button-wrapper a.sqs-button-element--primary, 
      .lightbox-handle-wrapper a.sqs-button-element--primary, 
      .sqs-block-button-container a.sqs-button-element--tertiary, 
      .sqs-donate-button-wrapper a.sqs-button-element--tertiary, 
      .form-button-wrapper a.sqs-button-element--tertiary, 
      .lightbox-handle-wrapper a.sqs-button-element--tertiary, 
      .sqs-block-button-container .sqs-donate-button, 
      .sqs-donate-button-wrapper .sqs-donate-button, 
      .form-button-wrapper .sqs-donate-button, 
      .lightbox-handle-wrapper .sqs-donate-button, 
      .sqs-block-button-container .form-submit-button, 
      .sqs-donate-button-wrapper .form-submit-button, 
      .form-button-wrapper .form-submit-button, 
      .lightbox-handle-wrapper .form-submit-button, 
      .sqs-block-button-container .lightbox-handle, 
      .sqs-donate-button-wrapper .lightbox-handle, 
      .form-button-wrapper .lightbox-handle, 
      .lightbox-handle-wrapper .lightbox-handle {
        font-size: 16px !important;
        padding: .95em 2.4em !important;
        width: 137px !important;
      }

      /* Inner container all Page => Fixed width: 1140px */
      section.Index-page{
        padding: 0 !important;

        .Index-page-content {
          padding: 3em 1em 2em;
          max-width:100%;
          margin: 0 auto;
        }
      }
      /* banner + photo section all zero padding */
      #banner-home, #photo-section{
        padding: 0 !important;
      }

      /* Blog section all */
      .summary-item-list, .summary-item{
        grid-template-columns: 1fr !important;
        justify-items: center;
        margin: 0 auto !important;
      }

      /* ==============
           Home page 
         ============== */
      
      #banner-home, #banner-women, #banner-about, #banner-impact, #banner-involved{ /* All banner fix */
        
        .Index-page-content{
          padding: 0;

          .intrinsic{

            .sqs-image-shape-container-element{
              height: 340px !important;
  
              img{
                /*height: 400px !important;*/
              }
            }
          } 
  
          .image-card-wrapper{
            left: 0;
            width: 100%;
            bottom: 20%;
      
            .image-card{
              position: relative;
  
              .image-title-wrapper, .image-subtitle-wrapper{
                padding-top: 0;
  
                p{
                  font-size: 25px !important;
                }
              }

              .image-title-wrapper{
                &:before{
                  bottom: unset;
                  left: 1.8em;
                  width: 233px;
                  height: 120px;
                  top: -3em;
                }
              }
            }
          }
        }
      }

      #banner-home{
        .Index-page-content{
          .image-card-wrapper{
      
            .image-card{
              padding-top: 20em;
      
              &:before{
                top: 10em;
              }
            }
          }
        }
      }
      
      /* vision section */
      #vision-section{
        margin-top: -50px;
        background-position: center;
      }

      /* photo section */
      #photo-section{
        .intrinsic .image-block-wrapper img{
          transform: scale(2.5);
        }
      }

      /* why women */
      #why-section{
        .Index-page-content {
          padding-bottom: 4em;
        }
      }

      /* work section */
      #our-work{

        .Index-page-content {
          padding-top: 0;

          .sqs-col-12{
            flex-direction: column-reverse;
            align-items: center;
  
            #block-yui_3_17_2_1_1719557219377_52232{
              padding-left:1em !important;
              padding-right:1em !important;
            }
  
            .sqs-block {
              text-align: center;
              width: 100%;
              margin: 0 auto !important;
              padding:1em 0 !important;
  
              h2, p{
                text-align: center;
                margin: 0 auto;
                padding: 0 50px;
              }
              h2{
  
                padding-bottom: 1em;
              }
  
              p:has(a) {
                padding: 1px !important;
                margin-top: 1em;
  
                a{
                  padding: 12px 50px;
                  font-size: 16px !important;
                }
              }
            }
          }

        }
      }

      // story-section
      #story-section{
        .Index-page-content {
          padding: 0 1em;
          padding-top: 2em;
          padding-bottom: 2em;

          #page-667e5ab8acd3ee331dc39e9c{
            width: 100% !important;

            #block-yui_3_17_2_1_1719559322476_181604{
              margin-right: 5px;
              padding: 0;
              width: 15%;
              margin-left: 20px;
            }
            #block-yui_3_17_2_1_1719565899331_851571{
              display: none;
            }
            #block-yui_3_17_2_1_1720860326575_8937{
              width: 100%;
              padding-left: 0;
              padding-right: 0;

              .summary-item, .summary-content{
                justify-items: center;
                text-align: center;
                margin-right: 0 !important;
                width: auto !important;
                padding: 0 1em;
                
                .summary-title, .summary-excerpt{
                  text-align: center;

                  p{
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }

    /* involved section */
    #involved-section{
      background: url("../assets/images/CTA_Section_mobileBg_involved.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 325px;
      background-position: -30px center;
      width: 430px;
      min-height: unset;
      padding: 0 !important;
      margin: 0 !important;
      align-items: end;

      .Index-page-content {
        padding: 0;

        #page-667e5ad0315ec9044d940ffa{
          padding-top: 5em;
          margin-left: -20px;

          .sqs-row{ margin: 0; }

          .sqs-col-12{
            .sqs-row{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;

              .sqs-col-4{
                width: 43%;
                margin-bottom: 1em;

                .sqs-block{
                  padding: 0;
                }
                
                .sqs-block-button-container{
                  margin: 0;

                  .sqs-button-element--primary {
                    padding: .95em 1.4em !important;
                    width: 120px !important;
  
                    &::before{
                      padding: 1.7em 5.3em;
                    }
                  }
                }
              }
            }
          }
        }

        #block-667e5ad0315ec9044d941000{
          display: none;
        }
      }
    }
    
    /* All page BANNER caption fix */
    #banner-women .Index-page-content .image-card-wrapper, 
    #banner-about .Index-page-content .image-card-wrapper,
    #banner-impact .Index-page-content .image-card-wrapper,
    #banner-involved .Index-page-content .image-card-wrapper{
      bottom: 20% !important;
      width: 90% !important;
    }
    #page-66813991d3276b1e70d1a98d{
      padding: 0;
    }
    #work-why #page-66813991d3276b1e70d1a98d .sqs-row #block-yui_3_17_2_1_1719745465255_247112 {
      width: 330px !important;
    }

    


    /* Footer Section */
    .site-footer{

      .site-container{
        padding-left: 2em;
        padding-right: 2em;

        #footerBlocks{
          width: 100%;

          .sqs-row{
            margin-left: 0;
            margin-right: 0;

            .sqs-block{
              padding-left: 0;
              padding-right: 0;

              .newsletter-form-wrapper{
                padding-left: 0;
                padding-right: 0;

                .newsletter-form-header-description{
                  p{
                    font-size: 28px;
                  }
                }
                .newsletter-form-field-wrapper{
                  min-width: 100%;

                  input{
                    width: 100%;
                  }
                }

                .newsletter-form-button-wrapper{
                  width: 100%;
                  .newsletter-form-button{
                    width: 100%;
                  }
                }
              }
            }
            #block-yui_3_17_2_1_1719572437820_178461{
              padding-left: 0;
              padding-right: 0;

              p{
                text-align: left !important;

                a{
                  font-size: 20px !important;
                  padding: 0 !important;
                }
              }
            }
            .sqs-row{
              display: flex;
              flex-direction: column-reverse;

              .sqs-col-6{
                width: 100%;
                margin: 0 auto;

                .sqs-block{
                  padding-left: 0;
                  padding-right: 0;

                  .sqs-svg-icon--list{
                    text-align: left;

                    a:first-child{
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  } /* Close main wrapper */


  /* why women page*/

  #collection-667d9d728a9c6b1a54c81512, #collection-668133e5a20be947b7143a85, #collection-668967fed6d44e5855619dda{

    .main-wrapper .site-header .site-title-link{
      background-image: url("../assets/images/Logo_white_header.png");
    }

    .main-wrapper .menu-btn__burger{
      background: #fff;

      &::after, &::before{
        background: #fff;
      }
    }

    #page-66813807846ebb74f80dab5e{
      padding-top: 2em;

      .sqs-row{
        margin: 0;
        padding-left: .5em;
        padding-right: .5em;
      }
    }
    
    #work-why{

      .Index-page-content{
        padding-top: 1em;
        padding-left: 0;
        padding-right: 0;

        #page-66813991d3276b1e70d1a98d{
          margin: 0 auto;
          width: 355px !important;

          .sqs-row{
            margin-bottom: 2px;
          }
          .image_grid .sqs-col-12 .sqs-row:nth-child(1) .sqs-col-4{
            padding-right: 2px;
          }
          .image_grid .sqs-col-12 #block-yui_3_17_2_1_1721120779578_336490{
            padding-bottom: 2px;
          }
          .image_grid .sqs-col-12 .sqs-row:nth-child(2) .sqs-col-6:nth-child(2){
            padding-left: 2px;
          }
          .image_grid .sqs-col-12 .sqs-row:nth-child(2) .sqs-col-6:nth-child(2) .sqs-row {
            padding-left: 2px;
          }
          .image_grid .sqs-col-12 .sqs-row:nth-child(2) .sqs-col-6:nth-child(2) .sqs-row .sqs-col-3:first-child {
            padding-right: 1px;
          }
          .image_grid .sqs-col-12 .sqs-row:nth-child(2) .sqs-col-6:nth-child(2) .sqs-row .sqs-col-3:nth-child(2) {
            padding-left: 1px;
          }

          #block-yui_3_17_2_1_1721120779578_56325,
          #block-yui_3_17_2_1_1721120779578_90086,
          #block-yui_3_17_2_1_1721120779578_336490,
          #block-yui_3_17_2_1_1721122933678_34114,
          #block-yui_3_17_2_1_1721122933678_39157,
          #block-yui_3_17_2_1_1721133005906_22756,
          #block-yui_3_17_2_1_1721122933678_29084{ 
            padding: 1px !important; 
          }
    
          #block-yui_3_17_2_1_1719745465255_247112{
            .sqs-html-content{
              h2, p{
                line-height: normal !important;
              }
            }
          }

          #block-yui_3_17_2_1_1719745465255_297531{
            display: none;
          }
        }
      }
    }
  }

  /*About Page */
  #collection-6689580f3d3598651c226806 #description-about #page-66895a6786799b2e433ec298{
    width: auto !important;
  }
  #block-yui_3_17_2_1_1720277781649_9534{
    width: 90% !important;
    float: unset;
    margin-left: 30px;
  }
  #collection-6689580f3d3598651c226806 #team-about #block-0a4b71680ea55308d70b h2, 
  #collection-6689580f3d3598651c226806 #directors-about #block-0a4b71680ea55308d70b h2, 
  #collection-6689580f3d3598651c226806 #team-about #block-6695e816d3bfea2a36b8885c h2, 
  #collection-6689580f3d3598651c226806 #directors-about #block-6695e816d3bfea2a36b8885c h2{
    padding-left: 30%;
  }
  #collection-6689580f3d3598651c226806 #team-about .summary-item-list .summary-item .summary-content .summary-title, 
  #collection-6689580f3d3598651c226806 #directors-about .summary-item-list .summary-item .summary-content .summary-title,
  #collection-6689580f3d3598651c226806 #team-about .summary-item-list .summary-item .summary-content .summary-excerpt p, 
  #collection-6689580f3d3598651c226806 #directors-about .summary-item-list .summary-item .summary-content .summary-excerpt p{
    text-align: center;
  }
  #collection-6689580f3d3598651c226806{
    #team-about, #directors-about{
      
      .Index-page-content{

        #page-6692aa67c1b02b32c63397ac{
          #block-0a4b71680ea55308d70b{
            h2{
              padding-left: 32%;
              padding-top: 2%;
            }
          }
        }
        #page-6695e816d3bfea2a36b8885b{
          #block-6695e816d3bfea2a36b8885c{
            h2{
              padding-left: 32%;
              padding-top: 2%;
            }
          }
        }

        .summary-item-list{
          .summary-item{
            margin-bottom: 1em !important;
            .summary-content{
              .summary-title{
                .summary-title-link{font-size: 32px !important;}
              }
            } 
          } 
        }
      }
    }
  }


  /* Impact page */
  #description-section-impact{
    .sqs-html-content{
      padding: 2em 0;
    }
  } 
  #block-yui_3_17_2_1_1720282922768_2963{
    padding-left:0 ;
    padding-right: 0;

    .accordion-item__title-wrapper{
      padding: 0 10px 0 0;
    }
  }
  #accordion-impact #block-yui_3_17_2_1_1720282922768_2963 ul li.accordion-item button.accordion-item__click-target .accordion-item__title{
    font-size: 24px;
    padding-left: 3.5em;
  }
  #accordion-impact #block-yui_3_17_2_1_1720282922768_2963 ul li.accordion-item .accordion-item__description p a::before{
    padding: 1.06em 6.85em !important;
  }
  #partners #page-66897081830be074a15ea49e{
    padding-top: 0em;
    padding-bottom: 0em;
  }
  #testimonials #page-66897770e0721d46e8a265a0{
    padding-top: 2em;

    .summary-item{
      padding-bottom: 0px !important;
  
      .summary-content {
        width: 100% !important;
    
        .summary-excerpt{
          padding-top: 1em;
        }
      }
    } 
  } 
  
  #testimonials #page-66897770e0721d46e8a265a0 .summary-item .summary-thumbnail-outer-container{
    width: 100% !important;
  }
  #testimonials #page-66897770e0721d46e8a265a0 .summary-item .summary-thumbnail-outer-container .summary-thumbnail img{
    margin: 0 auto;
  }
  
  #the-impact{
    #page-668970fdbdde483305ac963b{
      .sqs-col-12{

        #block-yui_3_17_2_1_1720283415146_87233, #block-yui_3_17_2_1_1720283415146_294559{ display: none;}

        .sqs-row{
          .sqs-col-1{
            display: none;
          }
          .col{
            width: 90%;
            margin: 0 auto;
            float: unset;

            p{
              padding-top: 10px;
              padding-bottom: 0.5em;
            }
          }
        }
      }
    }
  }

  

  /* Get involved page */
  #collection-6689684951c6376f58b8d2fc{

    #banner-involved{
      
    }
    #description-involved #page-6689f52a48f30c07d21d13a6{
      padding: 4em 0 3em;
      
      .sqs-row{
        padding: 0 1em;
        margin: 0 auto;
      }
      .sqs-col-12{
        .sqs-row{
          margin: 0 auto;

          .sqs-col-4{
            width: 100% !important;

            .lightbox-handle {
              width: 213px !important;
            }

            a.sqs-button-element--primary{
              &::before{
                padding: 2.3em 6.85em;
              }
            }
          }
        }
      }
    }

    #block-yui_3_17_2_1_1720878261935_96648{ display: none; }

    .sqs-modal-lightbox-content .lightbox-inner .lightbox-content{
      max-width: 300px !important;
      padding: 0;
      padding-top: 40px;
    }

    #sponsors-involved .Index-page-content #block-6692846ede2104488dde5da9{
      width: 100%;
      padding: 0;
      padding-top: 3em;

      .sqs-block-content{
        padding-left: 1em;
        padding-right: 1em;

        .sqs-html-content{
          padding: 0 1em;
        }
      }
    }
    #sponsors-involved #block-yui_3_17_2_1_1720878261935_140381{
      padding: 0 2em;
      padding-top: 2em;
    }
    #block-yui_3_17_2_1_1720317558134_44043{
      padding: 0 10px;
    }
    #accordion-involved #block-yui_3_17_2_1_1720317558134_44043 ul li.accordion-item button.accordion-item__click-target .accordion-item__title{
      padding: 0 1em;
    }
    #accordion-involved #block-yui_3_17_2_1_1720317558134_44043 ul li.accordion-item .accordion-item__description{
      padding-left: 2em !important;
    }
    #accordion-involved #block-yui_3_17_2_1_1720317558134_44043 ul li.accordion-item .accordion-item__description ul{
      width: 89%;
      float: left;
    }
    #sponsors-section{
      padding-top: 2em !important;

      .Index-page-content {
        padding: 0 1em;

        #page-6689f5d9c0ed12691b5750fd {
          padding: 1em 0 6em;
        }
  
        .sqs-col-12{
          padding: 0;
          .sqs-row{
            padding: 0 1em;
            .col{

              .image-block{
                padding: 0;
                padding-bottom: 17px;
              }
            }
          }
        }
      }
    }
    #additional-section #page-6689f653e0721d46e8c04929 {

      background: linear-gradient(to bottom, rgba(254, 239, 236, 0) 0%, rgba(254, 239, 236, 0) 53%, #fc9294 53%, #fc9294 100%);

      .sqs-row{
        width: auto !important;
        padding-bottom: 1em;

        .sqs-block-image{
          padding-left: 1em !important;
          padding-right: 1em !important;
        }

        h2{
          padding-top: 0.5em;
          padding-bottom: 1em;
        }
  
        .intrinsic{
          max-width: 100% !important;
        }
        #block-6689f653e0721d46e8c0492e{
          padding-top: 1em;
        }
  
        .col{
          width: 100%;
        }
      }
      .sqs-row:first-child{
        padding-top: 1em;
      }
    } 
  }

  /* Donation page */
  #collection-668c1c8585de33088cd47ba8 .content-container #page-668c1c8585de33088cd47ba8 .sqs-row{
    height: auto;
    padding-left: 2em;
    padding-right: 6em;
    padding-bottom: 5vh;
  }
  #collection-668c1c8585de33088cd47ba8 .content-container #page-668c1c8585de33088cd47ba8 .sqs-row .sqs-col-12{
    width: 100%;
  }

  /* Blog page */
  #collection-668c2d461f391719c12806a4{
    .site-header{
      .site-container{
        background-color: #fff !important;
        //padding-bottom: 5em;
        min-height: 110px !important;
        padding-bottom: 0;
        padding-top: 0;
      }
    }
    .content-container{
      margin-top: -110px;
    }
  }
  #collection-668c2d461f391719c12806a4 .content-container .sqs-row .sqs-col-12 .summary-block-wrapper{
    padding: 2em;
    width: 100%;
  }
  #collection-668c2d461f391719c12806a4 .content-container .sqs-row .sqs-col-12 .summary-block-wrapper .summary-item-list .summary-item .summary-content .summary-title {
    text-align: center !important;

    a.summary-title-link{
      padding-top: 1em;
      text-align: center;
      font-size: 32px;
      line-height: 36px;
      display: block;
    }
  }
  #collection-668c2d461f391719c12806a4 .content-container .sqs-row .sqs-col-12 .summary-block-wrapper .summary-item-list .summary-item .summary-content .summary-excerpt p{
    text-align: center !important;
  }
  #collection-668c2d461f391719c12806a4 .content-container .sqs-row .sqs-col-12 .summary-block-wrapper .summary-item-list .summary-item .summary-content .summary-read-more-link{
    text-align: center !important;
  }

  /* contact Page */
  #page-668c2f3376dff83003723843 .sqs-row{
    flex-direction: column;
    margin: 0 auto;
  }
  #page-668c2f3376dff83003723843 .sqs-row .sqs-col-8, 
  #page-668c2f3376dff83003723843 .sqs-row .sqs-col-4{
    width: 100%;
    padding: 0;
    margin-bottom: 2em;
  }
  #page-668c2f3376dff83003723843 .sqs-row .form-button-wrapper .form-submit-button::before {
    padding: 1.7em 8.2em;
  }

  /* Blog individual Page */
  .view-item{
    .main-wrapper{
      .site-header{
        .site-container{
          min-height: 0;
          padding-top: 0;
        }
      }
    }

    article{

      .intrinsic{
        padding-top: 25%;

        .image-block-wrapper{
          .sqs-image-shape-container-element{
            height: 400px;
          }
        }
      }
    }
    
    .columns-12{

      .html-block{
        width: 100% !important;
        padding: 0;

        .sqs-block-content{
          padding-left: 1em;
          padding-right: 1em;

          .sqs-html-content{
            padding: 0 1em;
          }

          h1{
            font-size: 48px;
            line-height: 52px;
          }
          h2{
            font-size: 28px;
            line-height: 36px;
          }
        }
      }
    }
  }
  .view-item .main-wrapper .article-container article .sqs-layout .tagcloud-block{
    padding-left: 2em;
    padding-bottom: 20px;
  }

  /* Single page */
  .collection-type-page.collection-layout-article .site-header{
    background-color:  #FEEFEC;
  }
  .collection-type-page.collection-layout-article .article-container .sqs-layout .sqs-row .sqs-col-12{
    padding: 5em 1em;
    max-width: 100%;
    width: auto;

    h1{
      font-size: 48px;
      line-height: 52px;
    }
    h2{
      font-size: 28px;
      line-height: 36px;
    }
  }
  /* Privacy policy */
  #collection-668c2fdbfdcba7081c84ebcf{
    .article-container{
      .sqs-col-12{
        padding-top: 0;
      }
    }
  }
} /* end of mobile style */
  