/****
  Large screen 1200+
****/

@media screen and (min-width: 1280px) {

  #page-66895a6786799b2e433ec298{
    width: 1140px !important;
    margin: 0 auto;
    padding: 4em 0;
  }
}

/*****
    - Tablet And Mobile -
******/

@media screen and (max-width: 650px) {
    #splash .logo {
      width: 280px;
      height: 220px;
      position: absolute;
      top: 50vh;
      left: 50vw;
      margin: -240px 0 0 -140px;
    }
    #splash .buttons {
      margin: 40px 0 0 -140px;
      padding: 0;
    }
  }

@media screen and (max-width: 430px) {

  /* Main Section */
  .main-wrapper{
    border:20px solid #ddd;
    border-radius: 60px;
    position: relative;

    .content-container{
      margin-top: -175px;
      border-radius: 40px 40px 0 0;

      h2{
        font-size: 28px !important;
        line-height: 32px !important;
      }
      h3{
        font-size: 24px !important;
        line-height: 28px !important; 
      }
      p{
        font-size: 22px !important;
        line-height: 26px !important;
      }

      /* Inner container all Page => Fixed width: 1140px */
      section.Index-page{
        padding: 0 1em !important;

        .Index-page-content {
          padding: 5em 0;
          max-width:100%;
          margin: 0 auto;
        }
      }
      /* banner + photo section all zero padding */
      #banner-home, #photo-section{
        padding: 0 !important;
      }

      /* Blog section all */
      .summary-item-list, .summary-item{
        grid-template-columns: 1fr !important;
      }

      /* ==============
           Home page 
         ============== */

         /* work section */
      #our-work{
        .sqs-col-12{
          flex-direction: column-reverse;
          align-items: center;

          .sqs-block {
            text-align: center;

            h2, p{
              text-align: center;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
  