/****
  Large screen 1200+
****/

@media screen and (min-width: 1280px) {

  #page-66895a6786799b2e433ec298{
    width: 1140px !important;
    margin: 0 auto;
    padding: 4em 0;
  }
}

/*****
    - Tablet And Mobile -
******/

@media screen and (max-width: 650px) {
    #splash .logo {
      width: 280px;
      height: 220px;
      position: absolute;
      top: 50vh;
      left: 50vw;
      margin: -240px 0 0 -140px;
    }
    #splash .buttons {
      margin: 40px 0 0 -140px;
      padding: 0;
    }
  }

@media screen and (max-width: 430px) {

  /* Main Section */
  .main-wrapper{
    border:20px solid #ddd;
    border-radius: 60px;
    position: relative;
    overflow: hidden;

    .site-header{
      .site-title-link{
          background:  url("../assets/images/Logo_dark.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 139px;
          height: 84px;
          position: absolute;
  
          img{
              display: none;
          }
      }
      .menu-btn{
        top: 15px;
        right: 0;
      }
  }

  .menu-btn__burger{
      background: #272A69;

      &::before, &::after{
          background: #272A69;
      }
  }
  .open{
      .menu-btn__burger{
          background: #fff;
  
          &::before, &::after{
              background: #fff;
          }
      }
  }

    .content-container{
      margin-top: -175px;
      border-radius: 40px 40px 0 0;

      h2{
        font-size: 28px !important;
        line-height: 32px !important;
      }
      h3{
        font-size: 24px !important;
        line-height: 28px !important; 
      }
      p{
        font-size: 22px !important;
        line-height: 26px !important;
      }
      /* buttons */
      .sqs-block-button-container a.sqs-button-element--primary, .sqs-donate-button-wrapper a.sqs-button-element--primary, .form-button-wrapper a.sqs-button-element--primary, .lightbox-handle-wrapper a.sqs-button-element--primary, .sqs-block-button-container a.sqs-button-element--tertiary, .sqs-donate-button-wrapper a.sqs-button-element--tertiary, .form-button-wrapper a.sqs-button-element--tertiary, .lightbox-handle-wrapper a.sqs-button-element--tertiary, .sqs-block-button-container .sqs-donate-button, .sqs-donate-button-wrapper .sqs-donate-button, .form-button-wrapper .sqs-donate-button, .lightbox-handle-wrapper .sqs-donate-button, .sqs-block-button-container .form-submit-button, .sqs-donate-button-wrapper .form-submit-button, .form-button-wrapper .form-submit-button, .lightbox-handle-wrapper .form-submit-button, .sqs-block-button-container .lightbox-handle, .sqs-donate-button-wrapper .lightbox-handle, .form-button-wrapper .lightbox-handle, .lightbox-handle-wrapper .lightbox-handle {
        font-size: 16px !important;
        padding: .95em 2.4em !important;
        width: 137px !important;
      }

      /* Inner container all Page => Fixed width: 1140px */
      section.Index-page{
        padding: 0 1em !important;

        .Index-page-content {
          padding: 5em 0;
          max-width:100%;
          margin: 0 auto;
        }
      }
      /* banner + photo section all zero padding */
      #banner-home, #photo-section{
        padding: 0 !important;
      }

      /* Blog section all */
      .summary-item-list, .summary-item{
        grid-template-columns: 1fr !important;
      }

      /* ==============
           Home page 
         ============== */
      
      #banner-home{
        
        .Index-page-content{
          padding: 0;

          .intrinsic{

            .sqs-image-shape-container-element{
              height: 340px !important;
  
              img{
                /*height: 400px !important;*/
              }
            }
          } 
  
          .image-card-wrapper{
            left: 0;
            width: 100%;
            bottom: 0;
      
            .image-card{
              position: relative;
  
              .image-title-wrapper, .image-subtitle-wrapper{
                padding-top: 0;
  
                p{
                  font-size: 25px !important;
                }
              }
      
              &:before{
                bottom: unset;
                left: 1em;
                width: 233px;
                height: 120px;
                top: -10em;
              }
            }
          }

        }
      }
      
      /* vision section */
      #vision-section{
        margin-top: -50px;
        background-position: center;
      }

      /* photo section */
      #photo-section{
        .intrinsic .image-block-wrapper img{
          transform: scale(2.5);
        }
      }

      /* work section */
      #our-work{
        .sqs-col-12{
          flex-direction: column-reverse;
          align-items: center;

          .sqs-block {
            text-align: center;
            width: 100%;

            h2, p{
              text-align: center;
              margin: 0 auto;
            }

            p:has(a) a{
              padding: 20px 70px;
            }
          }
        }
      }

      // story-section
      #story-section{
        .Index-page-content {
          padding: 0;
          padding-top: 2em;
          padding-bottom: 2em;

          #page-667e5ab8acd3ee331dc39e9c{
            width: 100% !important;

            #block-yui_3_17_2_1_1719559322476_181604{
              margin-right: 5px;
              padding: 0;
              width: 15%;
              margin-left: 20px;
            }
            #block-yui_3_17_2_1_1719565899331_851571{
              display: none;
            }
            #block-yui_3_17_2_1_1720860326575_8937{
              width: 100%;
              padding-left: 0;
              padding-right: 0;

              .summary-item, .summary-content{
                justify-items: center;
                text-align: center;
                margin-right: 0 !important;
                
                .summary-title, .summary-excerpt{
                  text-align: center;

                  p{
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }

    /* involved section */
    #involved-section{
      background: url("../assets/images/CTA_Section_mobileBg_involved.png");
      background-size: cover;
      background-repeat: no-repeat;
      height: 325px;
      background-position: -30px center;
      width: 430px;
      min-height: unset;
      padding: 0 !important;
      margin: 0 !important;
      align-items: end;

      .Index-page-content {
        padding: 0;

        #page-667e5ad0315ec9044d940ffa{
          padding-top: 5em;
          margin-left: -20px;

          .sqs-row{ margin: 0; }

          .sqs-col-12{
            .sqs-row{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;

              .sqs-col-4{
                width: 43%;
                margin-bottom: 1em;

                .sqs-block{
                  padding: 0;
                }
                
                .sqs-block-button-container{
                  margin: 0;

                  .sqs-button-element--primary {
                    padding: .95em 1.4em !important;
                    width: 120px !important;
  
                    &::before{
                      padding: 1.7em 5.3em;
                    }
                  }
                }
              }
            }
          }
        }

        #block-667e5ad0315ec9044d941000{
          display: none;
        }
      }
    }

    .site-footer{

      .site-container{
        padding-left: 2em;
        padding-right: 2em;

        #footerBlocks{
          width: 100%;

          .sqs-row{
            margin-left: 0;
            margin-right: 0;

            .sqs-block{
              padding-left: 0;
              padding-right: 0;

              .newsletter-form-wrapper{
                padding-left: 0;
                padding-right: 0;
              }
            }
            #block-yui_3_17_2_1_1719572437820_178461{
              padding-left: 0;
              padding-right: 0;

              p{
                text-align: left !important;
              }
            }
            .sqs-row{
              display: flex;
              flex-direction: column-reverse;

              .sqs-col-6{
                width: 100%;
                margin: 0 auto;

                .sqs-block{
                  padding-left: 0;
                  padding-right: 0;

                  .sqs-svg-icon--list{
                    text-align: left;

                    a:first-child{
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  } /* Close main wrapper */
}
  