/* @font-face {
  font-family: "Balgin-Extlight";
  src: url("../assets/fonts/BalginDisplay-ExtraLight.otf") format("otf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Balgin-light";
  src: url("../assets/fonts/BalginDisplay-Light.otf") format("otf") format("truetype");
  font-weight: 200;
} */

@font-face {
  font-family: "Balgin-Extlight";
  src: url("../assets/fonts/Balgin-ExtraLight.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Balgin-light";
  src: url("../assets/fonts/Balgin-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Balgin-Bold";
  src: url("../assets/fonts/Balgin-Bold.woff");
  font-weight: 700;
}


/* Body Font */
@font-face {
  font-family: "ethic-boldItalic";
  src: url("../assets/fonts/EthicSerif-BoldItalic.otf") format("otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "ethic-regular";
  src: url("../assets/fonts/EthicSerif-Regular.otf") format("otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
html {
  /*overflow: auto;*/
}

body {
  display: block;
  position: relative;
  /*width: 100vw;
  height: 100vh;;*/
  margin: 0px;
  opacity: 1;
  text-align: center;
  /*overflow: hidden;*/
  font-family: "Balgin-light", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: rgb(40, 43, 102) url("../assets/svgs/ws-bg.svg") no-repeat;
  background-position: center 40%;
  background-size: 400vw;
}

* {
  -webkit-transition: all 0.3s 0s ease !important;
  -moz-transition: all 0.3s 0s ease !important;
  -o-transition: all 0.3s 0s ease !important;
  -ms-transition: all 0.3s 0s ease !important;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden;
  perspective: 1000;
}

.frame {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}

a.button {
  display: inline-block;
  position: relative;
  height: auto;
  margin: 0;
  padding: 13px 32px 12px 32px;
  color: rgb(40, 43, 102);
  font-family: "Balgin-light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  text-decoration: none;
  border-radius: 60px;
  background-color: rgb(236, 151, 150);
  z-index: 1000;
}
a.button:hover {
  color: rgb(236, 151, 150);
  background-color: rgb(244, 249, 255);
  opacity: 1 !important;
}

#splash {
  position: relative;
  text-align: center;
}
#splash .logo {
  display: block;
  padding: 0;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin: -320px 0 0 -260px;
  text-indent: -9999px;
  background: url("../assets/svgs/ws-logo.svg") no-repeat;
  background-position: center center;
  background-size: 100%;
}
#splash .buttons {
  position: absolute;
  min-width: 320px;
  position: absolute;
  top: 53vh;
  left: 50vw;
  margin: 160px 0 0 -150px;
  padding: 0;
}
#splash .buttons li {
  margin-right: 20px;
  float: left;
  list-style: none;
}
#splash .buttons li.about {
  position: absolute;
  top: -70px;
  left: 0px;
}
#splash .buttons li.about a.button {
  padding: 13px 54px 12px 54px;
}
#splash .announcement {
  display: inline-block;
  position: absolute;
  min-width: 200px;
  left: 50vw;
  bottom: 4vh;
  margin: 0 0 0 -100px;
  padding: 0;
  color: rgb(236, 151, 150);
  font-family:"Balgin-light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#splash .announcement:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: all 0.3s 0s ease !important;
  -moz-transition: all 0.3s 0s ease !important;
  -o-transition: all 0.3s 0s ease !important;
  -ms-transition: all 0.3s 0s ease !important;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden;
  perspective: 1000;
  top: 10px;
  left: -201.5vw;
  width: 200vw;
  height: 1px;
  background: rgb(236, 151, 150);
}
#splash .announcement:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: all 0.3s 0s ease !important;
  -moz-transition: all 0.3s 0s ease !important;
  -o-transition: all 0.3s 0s ease !important;
  -ms-transition: all 0.3s 0s ease !important;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden;
  perspective: 1000;
  top: 10px;
  left: unset;
  right: -201.5vw;
  width: 200vw;
  height: 1px;
  background: rgb(236, 151, 150);
}

.sqs-block-summary-v2 .img-wrapper img, .sqs-block-summary-v2 .sqs-video-wrapper img {
  opacity: 1 !important;
}

.sqs-surrounding-overlay-bottom {
  display: none !important;
}

.sqs-grid-12 {
  width: 100% !important;
}


a, a:hover{
  font-family: "Balgin-light";
}


/*****
  - Layout -
******/

/* Main Section */
.main-wrapper{
  border:20px solid #ddd;
  border-radius: 60px;
  position: relative;

  .content-container{
    margin-top: -175px;
    border-radius: 40px 40px 0 0;

    /* Inner container all Page => Fixed width: 1140px */
    .Index-page-content {
      padding: 5em 10em;
      max-width:1140px;
      margin: 0 auto;


      /* Headings and Paragraphs */
      h2{
        font-size: 48px;
        line-height: 70px;
        font-family: "Balgin-Extlight";
        text-transform: uppercase;
        font-weight: 100;
      }
      p{
        font-size: 36px;
        line-height: 54px;
        font-family: 'ethic-regular';
        font-weight: 300;
        padding-bottom: 2em;
      }

      /* Image Block */
      .intrinsic{
        max-width: unset !important;
      }
    }
  }

  /* Photo section => All page */
  #photo-section, #photo-section-why, #photo-about, #accordion-impact, #photo-impact, 
  #sponsors-involved, #accordion-involved, #photo-involved, #additional-section{
    .Index-page-content{
      padding:0;
      max-width:100%;
    }
  }
}

/* Buttons */
.sqs-block-button-container, .sqs-donate-button-wrapper, .form-button-wrapper, .lightbox-handle-wrapper{
  

  a.sqs-button-element--primary, a.sqs-button-element--tertiary, .sqs-donate-button, .form-submit-button, .lightbox-handle{ /* blue button */
      background-color: #272A69 !important;
      color: #fff !important;
      text-transform: uppercase !important;
      border-radius: 0 !important;
      font-size: 22px !important;
      font-family:"Balgin-light" !important;
      font-weight: 100 !important;
      padding: 1.05em 2.4em !important;
      position: relative;
      width: 190px !important;

      &:hover{
        background-color: #2354A1 !important;
        color: #FEEFEC !important;
        opacity: 1 !important;

        &::before{
          border: 2px dashed #2354A1 !important;
        }
      }

      &::before{
        content: "";
        border: 2px dashed #272A69 !important;
        padding: 1.7em 6.85em;
        position: absolute;
        top: -5px;
        left: -5px;
      }
  }

  a.sqs-button-element--tertiary { /* pink button */
    background-color: #FC9294 !important;
    position: relative;

    &:hover{
      background-color: #F8C04C !important;
      color: #232A6A !important;
      opacity: 1 !important;

      &::before{
        border: 2px dashed  #F8C04C !important;
      }
    }

    &::before{
      border: 2px dashed #FC9294 !important;
    }
  }
}

/* Accodion Transition Effect */
.accordion-icon-container {
  transition: transform 0.3s ease;
}

.accordion-icon-container.open {
  transform: rotate(180deg);
}